
:root{
    --main-bg-color:rgb(220, 99, 99);
  }

p{
    color : var(--main-bg-color);
}

a[rel]{
    border: 1px solid red; 
}

a[rel='Un Francés']{
    border:1px solid blue;
}

a[lang|='es-ES']{
    background-color:yellow;
}

button [type^='sub' ]{
    color: red;
}

button{
    color: green;
}

a[href$="co.uk"]{
    font-family: Verdana, sans-serif;
}
a[href^="bing"]{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2:nth-child(3){
    background-color: slateblue;
}

h2:nth-child(2){
    background-color: red;
}

div {height: 20px;}
div:first-child {background-color: purple;}
div:last-child {background-color: greenyellow;}
div:nth-last-of-type(2){color:aqua}
div:empty {background-color: black;}
:not(a){
    font-family: Arial, Helvetica, sans-serif;
}