<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.0.8/skeleton.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Login</title>
    </head>
    <body>
        <div class="header">
            <div class="line"></div> <a href="/users/register">Register</a> <div class="line"></div>
            <a href="/users/login">Login</a> <div class="line"></div> 
            <a href="/users/dashboard">Dashboard</a> <div class="line"></div>
        </div>
        <div class="container">
        <h1>Login</h1>
        <ul>
            <% if(messages.success_msg) { %>
            <li style="color: green;"><%= messages.success_msg %></li>
            <% } %>  
        </ul>

        <ul>
            <% if(messages.error) { %>
            <li style="color: red;"><%= messages.error %></li>
            <% } %>  
        </ul>  

        <form action="/users/login" method="POST">
            <div class="label">
                <label for="email">Email:</label>
            </div>
            <div>
                <input type="email" name="email" id="email" placeholder="email@email.com" required>                
            </div>
            <div class="label">
                <label for="password">Password:</label>
            </div> 
            <div>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>

        <a href="/users/register">Register</a>
        </div>
    </body>
</html>