<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.0.8/skeleton.min.css">
        <link rel="stylesheet" href="/styles.css">
        <title>Document</title>
    </head>
    <body id="test">
        <div class="header">
            | <a href="/users/register">Register</a> | 
            <a href="/users/login">Login</a> | 
            <a href="/users/dashboard">Dashboard</a> |
        </div>
        <div class="container">
        <h1>Register</h1>

        <!-- Lista que muestra los errores en la form al registrarse-->
        <ul>
            <% if(typeof errors != 'undefined') {%> <% errors.forEach(error=>{ %>
                    <li style="color: red;"><%= error.message %></li>
            <% }) %> <% } %>
        </ul>


        <form action="/users/register" method="POST">
            <div class="name">
                <input type="text" name="name" id="name" placeholder="name" required>
            </div>
            <div>
                <input type="email" name="email" id="email" placeholder="email@xxxx.com">
            </div>
            <div>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <input type="password" name="password2" id="password2" required>
            </div>
            <div>
                <input type="submit" value="Register">
            </div>
        </form>
        <a href="/users/login">Already have an account? Login here</a>
        </div>
    </body>
</html>