.target div {
    display:none;
}

.target div:target {
    display: block;
  border: 2px solid red;
}

div.empty {
    background-color: aqua;
    height: 30px;
}

div.empty:empty {
    background-color: bisque;
}

:root {
    font-family:Arial, Helvetica, sans-serif;
}

input:checked{
    outline: 2px solid red;
}

input[type="text"]:disabled{
    background-color: grey;
}

input[type="text"]:enabled{
    background-color: lightblue;
}

input[type="text"]:required{
    border: 2px solid red;   
}

input[type="text"]:optional{
    border: 2px solid yellow;
}

input[type="email"]:valid{
    background-color: lightgreen;
}

input[type="email"]:invalid{
    background-color: lightcoral;
}

input[type="number"]:in-range{
    background-color: thistle;
}

input[type="number"]:out-of-range{
    background-color: brown;

}